body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(253, 239, 132) 0%,
    rgb(247, 198, 169) 54.2%,
    rgb(21, 186, 196) 100.3%
  );
}

#myphoto {
  width: 50%;
  height: auto;
  border-radius: 50%;
  box-shadow: rgb(37 39 89 / 8%) 0px 8px 8px 0;
  border: 1px solid #f16821;
  display: block;
  box-sizing: content-box;
  margin: 0 auto;
  margin-bottom: 10%;
  margin-top: 5%;
}

.intro {
  margin-top: 30%;
  margin-bottom: 20%;
  margin-left: 5%;
}

.education p {
  line-height: 15px;
}

.intro p {
  font-size: 20px;
  color: #f3a333;
}

.intro h1 {
  font-size: 70px;
  margin-bottom: 24px;
  line-height: 50px;
  font-weight: 400;
  color: #f16821;
  text-shadow: 1px 1px 2px #f3a333;
}

.project p {
  line-height: 15px;
}

.projectimages {
  width: 50%;
  height: auto;
  padding: 15px;
}

.projects {
  margin-left: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.experience {
  float: right;
}

.education {
  margin-left: 15%;
}

.hobbies {
  margin-left: 15%;
}

a {
  text-decoration: none;
}

ol {
  padding: 3px;
}

.aboutMe {
  margin-top: 5%;
}
