#myphoto {
  width: 50%;
  height: auto;
  border-radius: 50%;
  margin-top: 60%;
  box-shadow: rgb(37 39 89 / 8%) 0px 8px 8px 0;
}

.aboutMe {
  margin-top: 30%;
  margin-bottom: 20%;
  margin-left: 10%;
}

.projects ul {
  list-style-type: none;
}

.education p {
  line-height: 15px;
}

.aboutMe p {
  font-size: 20px;
}
